.eunit
_build
ebin
log
priv/certs/localhost*.*
priv/public/dist
rebar.lock
rebar3.crashdump
snapshot
test/*.beam
*.log
*.dump
snapshot
*.swp
*.swo
package-lock.json
dderl.dderl@*
*.bkp
tmp
TEST*.xml
*.DCD
*.DAT
*.DCL
node_modules/
priv/swagger/yarn.*
.rebar3/
