_build
ebin
log
priv/certs/localhost*.*
priv/dev/node_modules
priv/public
rebar.lock
rebar3.crashdump
snapshot
test/*.beam
*.log
*.dump
snapshot
*.swp
*.swo
package-lock.json
dderl.dderl@*
dderl.wiki/
