_build
ebin
log
priv/certs/localhost*.*
priv/public
rebar.lock
rebar3.crashdump
snapshot
test/*.beam
*.log
*.dump
snapshot
*.swp
*.swo
package-lock.json
dderl.dderl@*
dderl.wiki/
*.bkp
tmp
TEST*.xml
*.DCD
*.DAT
*.DCL
node_modules/
yarn.*