%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
[{lager,
  [
   {extra_sinks,
    [{access_lager_event,
      [{handlers,
        [{lager_file_backend,
          [{file, "log/dderl_access.log"},
		   {level, info},
           {size, 10485760},
           {date, "$D0"},
           {count, 5},
           {formatter, dderl_access_logger},
           {formatter_config, [date, " ", time,";", message, "\n"]}]
         }]
       },
       {async_threshold, 500},
       {async_threshold_window, 50}]
     }]
   }
  ]
 }
].
