%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
[{lager,
     [{handlers,
          [{lager_console_backend,
               [{level,info},
                {formatter_config,
                    [date," ",time," ",color,"[",severity,"] ",
                     {module,
                         ["[",
                          {application,[]},
                          {pid,[]},
                          {pid,["@"],[]},
                          module,
                          {function,[":",function],[]},
                          {line,[":",line],[]},
                          "]"],
                         []},
                     {enum,[" [",enum,"]"],[]},
                     " ",message,"\n"]}]},
           {lager_file_backend,
               [{file,"log/error.log"},
                {level,error},
                {size,10485760},
                {date,"$D0"},
                {formatter_config,
                    [date," ",time," ",color,"[",severity,"] ",
                     {module,
                         ["[",
                          {application,[]},
                          {pid,[]},
                          {pid,["@"],[]},
                          module,
                          {function,[":",function],[]},
                          {line,[":",line],[]},
                          "]"],
                         []},
                     {enum,[" [",enum,"]"],[]},
                     " ",message,"\n"]},
                {count,5}]},
           {lager_file_backend,
               [{file,"log/console.log"},
                {level,info},
                {size,10485760},
                {date,"$D0"},
                {formatter_config,
                    [date," ",time," ",color,"[",severity,"] ",
                     {module,
                         ["[",
                          {application,[]},
                          {pid,[]},
                          {pid,["@"],[]},
                          module,
                          {function,[":",function],[]},
                          {line,[":",line],[]},
                          "]"],
                         []},
                     {enum,[" [",enum,"]"],[]},
                     " ",message,"\n"]},
                {count,5}]},
           {imem_lager_backend,
               [{level,info},
                {table_name_fun,{dderl,log_table}},
                {application,dderl},
                {tn_event,[{dderl,dderl,dderlLogTable}]}]}]},
      {extra_sinks,
          [{access_lager_event,
               [{handlers,
                    [{lager_file_backend,
                         [{file,"log/dderl_access.log"},
                          {level,info},
                          {size,10485760},
                          {date,"$D0"},
                          {count,5},
                          {formatter,dderl_access_logger},
                          {formatter_config,
                              [date," ",time,";",message,"\n"]}]}]},
                {async_threshold,500},
                {async_threshold_window,50}]}]}]}].
