[{lager,
  [
   %% Any other sinks
   {extra_sinks,
    [{access_lager_event,
      [{handlers,
        [{lager_file_backend,
          [{file, "log/dderl_access.log"},
           {level, info},
           {formatter, lager_default_formatter},
           {formatter_config, [date, " ", time,";", message, "\n"]}]
         }]
       },
       {async_threshold, 500},
       {async_threshold_window, 50}]
     }]
   }
  ]
 }
].
