%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%
%% Packaging
%%
{package_name, "dderl"}.
{package_install_name, "dderl"}.
{package_install_user, "dderl"}.
{package_install_group, "dderl"}.
{package_install_user_desc, "DDErl user"}.
{package_shortdesc, "DDErl is a web based multi detabase browser"}.
{package_desc, "DDErl is a web based multi detabase browser"}.
{package_patch_dir, "dderl-patches"}.
{solaris_pkgname, "K2DDerl"}.
{license_type, "K2 proprietary"}.
{copyright, "2013 K2 Informatics, GmbH"}.
{vendor_name, "K2 Informatics, GmbH"}.
{vendor_url, "http://k2informatics.ch"}.
{vendor_contact_name, "K2 Informatics Package Manager"}.
{vendor_contact_email, "packaging@k2informatics.ch"}.
{license_full_text, "All Rights Reserved.\n"
"\n"  
"All information contained herein is, and remains\n"  
"the property of K2 Informatics GmbH and its suppliers,\n"  
"if any.  The intellectual and technical concepts contained\n"  
"herein are proprietary to K2 Informatics GmbH\n"  
"and its suppliers and may be covered by Swiss and Foreign Patents,\n"  
"patents in process, and are protected by trade secret or copyright law.\n"  
"Dissemination of this information or reproduction of this material\n"  
"is strictly forbidden unless prior written permission is obtained\n"  
"from K2 Informatics GmbH.\n"}.
