%%-*- mode: erlang -*-
%% ex: ft=erlang
{erl_opts, [{parse_transform, lager_transform}]}.
{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{ct_use_short_names, true}.
{sub_dirs, ["apps/dderl", "rel"]}.
{deps, [
    % RAW deps (not included in packaging)
    %{erlpkg, ".*", {git, "https://github.com/c-bik/erlpkg.git", master}, [raw]},

    {imem, "1.2.7", {git, "https://github.com/k2informatics/imem.git", {tag, "imem-1.2.7"}}},
    % cowlib pulled manually to override in cowboy deps through git
    {cowlib, "1.0.0", {git, "https://github.com/k2informatics/cowlib.git", {tag, "1.0.0"}}},
    {cowboy, "1.0.0", {git, "https://github.com/k2informatics/cowboy.git", {tag, "1.0.0"}}},
    % TODO: Tag 0.4.1 has UTF-8 compiling issue
    {bullet, "0.4.1", {git, "https://github.com/k2informatics/bullet.git", master}},
    {mimetypes, "1.0", {git, "https://github.com/k2informatics/mimetypes.git", {tag, "1.0"}}},
    {erlimem, "1.0.9", {git, "https://github.com/k2informatics/erlimem.git", {tag, "erlimem-1.0.9"}}},
    {dderloci, "0.0.4", {git, "https://github.com/k2informatics/dderloci.git", {tag, "dderloci-0.0.4"}}}
]}.
