%%-*- mode: erlang -*-
%% ex: ft=erlang
{dist_node, [
    {setcookie, 'dderl'},
    {name, 'dderl@127.0.0.1'}
]}.

{ct_cover, true}.
{ct_use_short_names, true}.
{ct_verbose, true}.

{deps, [
    {erlimem, {git, "https://github.com/K2InformaticsGmbH/erlimem.git", {tag, "1.3.1"}}},
    {erloci, {git, "https://github.com/K2InformaticsGmbH/erloci.git", {tag, "0.1.2"}}},
    {esaml, {git, "https://github.com/K2InformaticsGmbH/esaml", {tag, "2.1.0"}}},
    {imem, {git, "https://github.com/K2InformaticsGmbH/imem.git", {tag, "1.9.0"}}},
    {ranch, {git, "https://github.com/K2InformaticsGmbH/ranch.git", {tag, "1.3.2"}}},

    % hidden dependency within cowboy/cowlib (must be manually fetched)
    {mimetypes, {git, "https://github.com/K2InformaticsGmbH/mimetypes.git", {tag, "1.0"}}},

    % freeze at 1.0.2 : higher versions has breaking changes for cowboy
    {cowlib, {git, "https://github.com/K2InformaticsGmbH/cowlib.git",    {tag, "1.0.2"}}},
    % freeze at 1.X.X : higher versions has backward inompatible changes
    {cowboy, {git, "https://github.com/K2InformaticsGmbH/cowboy.git",    {tag, "1.1.2"}}}
]}.

{deps_error_on_conflict, false}.

{erl_opts, [
    {parse_transform, lager_transform},
    {parse_transform, imem_rec_pretty_pt},
    {lager_extra_sinks, [access]}
]}.

{eunit_opts, [
    {report, {eunit_surefire, [{dir, "."}]}},
    {skip_deps, true},
    verbose
]}.
        
{relx, [
    {release, {dderl, "1.10.0"}, [dderl]},

    {dev_mode, true},
    {exclude_modules, [{stdlib, [filename]}]},
    {extended_start_script, true},
    {include_erts, true},
    {include_src, false},

    {overlay_vars, "config/vars.config"},
    {overlay, [
        {copy, "LICENSE", "LICENSE"},
        {copy, "README.md", "README.md"},
        {copy, "RELEASE-DDERL.md", "RELEASE-DDERL.md"},

        % generating for windows
        {copy, "config/editconfs.escript", "bin/editconfs.escript"},
        {template, "config/sys.config", "releases/{{rel_vsn}}/sys.config"},
        {template, "config/vm.args", "releases/{{rel_vsn}}/vm.args"},

        % imem control scripts
        {template, "_build/default/lib/imem/scripts/imem", "bin/imem"},
        {copy, "_build/default/lib/imem/scripts/imem.escript", "bin/imem.escript"}
    ]}
]}.

{xref_checks, [
    deprecated_functions,
    deprecated_function_calls,
    exports_not_used,
    locals_not_used,
    undefined_functions,
    undefined_function_calls
]}.

{shell, [
    {apps, [dderl]},
    {config, "config/sys_shell.config"}
]}.

{profiles, [
    {prod, [
        {post_hooks,
         [{"win32", release, "powershell.exe -File post_release.ps1 < nul"},
          {"linux", release, "./post_release.sh"}]},
        {erlpkg_opts,
         [{company, "K2 Informatics GmbH"},
          {upgradecode, "DDE410F1-EBD2-4799-97FF-76E317073B30"},
          {icon, "erlpkg_extra/app.ico"},
          {banner, "erlpkg_extra/493x58.jpg"},
          {dialog, "erlpkg_extra/493x312.jpg"},
          {license, "erlpkg_extra/License.rtf"},
          {xdlgs, ["erlpkg_extra/ServiceSetupDlg.wxs"]},
          {msi, "erlpkg_extra/msi.conf"}
         ]},
        {plugins,
         [{erlpkg, {git, "https://github.com/K2InformaticsGmbH/erlpkg.git", {branch, "master"}}}]},
        {relx, [{dev_mode, false}]}
    ]}
]}.
