%%-*- mode: erlang -*-
{erl_opts, [{parse_transform, lager_transform}]}.
{deps, [
      {lager_imem,  "",         {git, "git@github.com:k2informatics/lager_imem.git", master}}
    , {jsx,         "",         {git, "https://github.com/talentdeficit/jsx.git", master}}
    , {sqlparse,    "",         {git, "git@github.com:k2informatics/sqlparse.git", master}}
    , {imem,        "",         {git, "git@github.com:k2informatics/imem.git", master}}
    , {erlimem,     "",         {git, "git@github.com:k2informatics/erlimem.git", master}}
    , {erloci,      "",         {git, "git@github.com:k2informatics/erloci.git", master}}
    , {cowboy,      "",         {git, "git://github.com/extend/cowboy.git", master}}
    , {mimetypes,   "",		    {git, "git://github.com/spawngrid/mimetypes.git", "master"}}
]}. 
