@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url('../assets/fonts/gfont.woff') format('woff');
}

div#login-bg {
    position: absolute;
    display: none;
    top : 0px;
    left : 0px;
    right : 0px;
    bottom : 0px;
    background:rgba(0,0,0,0.5);
    z-index:99998;
}

body { 
    font-family: 'Droid Sans Mono', sans-serif;
    font-size: 62.5%;
    /* Next rules are required by monaco-editor 
        https://github.com/Microsoft/monaco-editor#known-issues
    */
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0px;
}
input.text, textarea.text { width: 95%; padding: .4em; }
textarea.d3labeledit { height: 120px }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; background: #EEEEEF; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.cell-title { font-weight: bold; }
.cell-effort-driven { text-align: center; }

/* Allow Font Awesome Icons in lieu of jQuery UI and only apply when using a FA icon */
.ui-icon[class*=" fa-"] {
    /* Remove the jQuery UI Icon */
    background: none repeat scroll 0 0 transparent;
    /* Remove the jQuery UI Text Indent */
    text-indent: 0;
    /* Bump it up - jQuery UI is -8px */
    margin-top: -0.5em;
}

/* Notification icon top bar */
#beep-notification {
    margin-right: 10px;
    display: none;
}

.button-dialog-connect.ui-icon[class*=" fa-"] {
    font-size: 1.5em;
}

.button-dialog-connect.fa-sign-in {
    margin-top: 0px;
}

.ui-button-icon-only .ui-icon[class*=" fa-"] {
    /* Bump it - jQuery UI is -8px */
    margin-left: -9px;
}

/* Allow use of icon-large to be properly aligned */
.ui-icon.icon-large {
    margin-top: -0.75em;
}

.connect-hide-details {
    float: right;
    width: 16px;
    top: 1px;
    position: relative;
    color: #77777F;
    cursor: pointer;
}

.ui-widget { font-family: 'Droid Sans Mono', sans-serif; }

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button { font-family: 'Droid Sans Mono', sans-serif; }

.ui-dialog-disabled {
    position: absolute;
    top: 0px;
    height: 100%;
    left: 0px;
    width: 100%;
    background: rgba(235, 235, 235, 0.25);
}

.ui-dialog {
	padding: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.ui-effects-transfer {
    border: 1px dotted black;
}

.cell-reorder {
    cursor: move;
    background: url("../assets/img/drag-handle.png") no-repeat center center;
}

.ui-dialog .ui-dialog-titlebar {
	padding: .1em 1em;
	position: relative;
}

.ui-dialog-titlebar {
    border: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

button.menubutton
{
    font-size:13px;
    font-family: 'Droid Sans Mono', sans-serif;
    color:#FFFFFF;
    height:20px;
    background-color:#00005F;
    position: absolute;
    top: 5px;
    border: none;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
    background: none;
    background-color: #77777F;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 6px 15px;
}

.ui-dialog.dderl-dialog .button {
    background-color: #77777F;
    border: none;
    color: white;
    padding: 4px 23px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.loading-indicator {
  display: inline-block;
  padding: 12px;
  background: white;
  -opacity: 0.5;
  color: black;
  font-weight: bold;
  z-index: 9999;
  border: 1px solid red;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  -text-shadow: 1px 1px 1px white;
}

.loading-indicator label {
  padding-left: 20px;
  background: url('../assets/img/ajax-loader-small.gif') no-repeat center left;
}

.sql_edit_flds {
    border:1px;
    border-color:#AFAFAF;
    border-style:solid;
    height:85%;
    overflow:auto;
    background:#EFEFEF;
}

/* text box background colors */
.tb_empty          { background:#FFFFFF !important; }
.tb_aborted        { background:#FF4747 !important; }
.tb_filling        { background:#FFFF66 !important; }
.tb_autofilling    { background:#FFC266 !important; }
.tb_completed      { background:#CCFF66 !important; }
.tb_tailing        { background:#FFCCCC !important; }
.tb_passthrough    { background:#AAAAFF !important; }

.menubar {
    background:#AFAFAF;
    z-index:99997;
}

/* dashboard save button */
#dashboard-save {
    position: relative;
    left: 18px;
}

/* 
 * SlickGrid style extensions and overrides
 */
.slick-row.selected .cell-selection {
  background-color: transparent; /* show default selected row background */
}

.cell-selection {
  /*border-right-color: silver;
  border-right-style: solid;*/
  background: #ECECEC;
  color: #8A8A8A;
  font-size: 10px;
}

.id-cell-selection {
  /*border-right-color: silver;
  border-right-style: solid;*/
  background: #ECECEC;
  color: #8A8A8A;
  font-size: 10px;
}

.slick-cell.selected {
  background-color: black;
  color: white;
}

.slick-header-column.selected {
    background: url("../assets/jquery-ui-images/ui-bg_glass_75_d0d0d0_1x400.png") repeat-x scroll 50% 50% rgb(178, 178, 178);
    color: black;
}

.slick-cell.editable {
    border-style: none;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 2px;
}

.slick-cell, .slick-headerrow-column {
  border: none;
  border-right: none;
}

.slick-cell.numeric {
    text-align: right;
    padding-right: 4px;
}

.slick-header-column.numeric {
    text-align: right;
}

/*********************************************/

.selectable-alert-text {
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text;   /* Chrome/Safari/Opera */
    -khtml-user-select: text;    /* Konqueror */
    -moz-user-select: text;      /* Firefox */
    -ms-user-select: text;       /* Internet Explorer/Edge */
    user-select: text;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.graph-details-text {
    font-size: 16px;
}

/* .ui-button { margin-left: -1px; } */
.ui-button-icon-only .ui-button-text { padding: 0.35em; }
.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }
#sql-div {
    background-color: rgb(0,255,255);
    position:absolute;
    top:0px;
    right:0px;
    width:49.9%;
    height:900px;
    overflow:auto;
}

.ui-icon,
.ui-widget-content .ui-icon {
    background-image: url(../assets/jquery-ui-images/ui-icons_222222_256x240.png);
}
.ui-widget-header .ui-icon {
    background-image: url(../assets/jquery-ui-images/ui-icons_222222_256x240.png);
}
.ui-state-default .ui-icon {
    background-image: url(../assets/jquery-ui-images/ui-icons_222222_256x240.png);
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
    background-image: url(../assets/jquery-ui-images/ui-icons_454545_256x240.png);
}
.ui-state-active .ui-icon {
    background-image: url(../assets/jquery-ui-images/ui-icons_454545_256x240.png);
}
.ui-state-highlight .ui-icon {
    background-image: url(../assets/jquery-ui-images/ui-icons_2e83ff_256x240.png);
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
    background-image: url(../assets/jquery-ui-images/ui-icons_cd0a0a_256x240.png);
}

.ui-icon.fa,
.ui-widget-content .ui-icon.fa {
    background-image: none;
}
.ui-widget-header .ui-icon.fa {
    background-image: none;
}
.ui-state-default .ui-icon.fa {
    background-image: none;
}
.ui-state-hover .ui-icon.fa,
.ui-state-focus .ui-icon.fa {
    background-image: none;
}
.ui-state-active .ui-icon.fa {
    background-image: none;
}
.ui-state-highlight .ui-icon.fa {
    background-image: none;
}
.ui-state-error .ui-icon.fa,
.ui-state-error-text .ui-icon.fa {
    background-image: none;
}


/*.ui-icon, */
.ui-widget-header .ui-icon.ellipsis,
.ui-widget-content .ui-icon.ellipsis {
	background-image: url(../assets/jquery-ui-images/ui-icons_888888_256x240.png);
    background-position: -176px -160px;
}

.ui-widget-content .ui-state-highlight .ui-icon.ellipsis,
.ui-widget-content .ui-state-hover .ui-icon.ellipsis {
    background-image: url(../assets/jquery-ui-images/ui-icons_222222_256x240.png);
}

/* positioning */
.ui-icon-fetch-tail { background-position: -160px -160px; }
.ui-icon-fetch-only { background-position: -176px -160px; }
.ui-icon-rev-play   { background-position: -192px -160px; }

/****************************************************************************************/


.edit_div {
    height:14px;
    width:100%;
}

.inner_div {
    min-height:20px;
    position:relative;
    width:900px;
    overflow:hidden;
    font-family: 'Droid Sans Mono', sans-serif;
    font-size:10pt;
    vertical-align: top;
}

.context_menu {
  font-size:10px;
  font-family: 'Droid Sans Mono', sans-serif;
  background: #E0E0E0;
  border: 1px solid gray;
  padding: 0px;
  display: inline-block;
  min-width: 100px;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  z-index: 99999;
  position:absolute;
}

.context_menu li {
  padding: 4px 4px 4px 14px;
  list-style: none;
  cursor: pointer;
}

.context_menu li:hover {
  background-color: white;
}

.ui-dialog .ui-dialog-titlebar-close {
  width:  17px;
  height: 17px;
}

.no-close .ui-dialog-titlebar-close {display: none }

.overflow-visible {overflow: visible;}

#dialog-db-login {overflow: visible;}

.ui-icon-txt-align-wrap { background-position: -100px -224px; }
.ui-icon-txt-align-free { background-position: -116px -224px; }
.ui-icon-sql-box { background-position: -138px -222px; }

input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  background: white;
  padding: 1px;
}

/*
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button {
    background: #ccc;
    display: none;
}
::-webkit-scrollbar-track-piece {
    background: #efefef
}
::-webkit-scrollbar-thumb {
    background: #888
}
*/

/* SQL Box styles */
.boxEdit {
    /*border:none;*/
    margin:0;
    padding:0;
    /*background-color:lightblue;*/
    /*white-space:nowrap;*/
    overflow:hidden;
    display:none;
}
.boxName {
    margin:0;
    padding:0;
    /*background:lightgreen;*/
    height:10px;
}
.boxChildren {
    margin:0;
    padding:0;
    position:relative;
    top:0;
    left:10px;
    /*right:10px;*/
    /*background-color:lightgreen;*/
}
.boxParent {
    margin:0;
    padding:0;
    position:relative;
    top:0;
    /*background-color: lightblue;*/
}
.boxAceEditor {
    height:100%;
    width:100%;
}

.ui-widget-header {
    background: #cccccc/*{bgColorHeader}*/ url(../assets/jquery-ui-images/ui-bg_highlight_lostfocus-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/;
    color: #222222/*{fcHeader}*/;
    font-weight: bold;
}

div#main-bg {
    position:fixed;
    bottom : 25px;
    right: 20px;
    height : 100px;
    width : 100px
}

div#main-body {
    position:absolute;
    overflow: auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background:#F0F0FF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.screensaver {
    z-index: 99997;
    position:relative;
    height: 100%;
    background: #000000;
}

div#angular-panel {
    position:absolute;
    overflow: auto;
    top: 23px;
    width: 250px;
    right: 0px;
    bottom: 14px;
    background:#FFDDAA
}

div#main_footer {
    font-family: 'Droid Sans Mono', sans-serif;
    font-size: 11px; 
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background:#F0FFF0
}

.slick-cell-del {
    text-decoration:line-through;
    color: red;
}

.slick-cell-upd {
    color: red;
}

.slick-header-columns { height: 22px; }
.slick-header.ui-state-default{ border: none; }

.table-title {
    text-decoration:underline;
    cursor:pointer;
}

.table-title-wait {
  padding-left: 20px;
  background: url('../assets/img/ajax-loader-small.gif') no-repeat center left;
}

.sql_text_editor {
    width: calc(100% - 20px);
    height: calc(100% - 10px);
    resize: none;
    border: none;
    font-size: 1.14em;
    padding: 5px 0px 5px 20px;
}

.sql_text_flat {
    background: rgb(240,240,255);
    overflow-y: scroll;
}

.sql_text_pretty {
    background: rgb(255,240,240);
    overflow: auto;
}

.sql_text_box {
    font-size:1.14em;
    margin:0;
    background-color: rgb(240,255,240);
}

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
    width: 15px;
}

.custom-combobox-input {
    width: 165px;
    margin: 0;
    padding: 0.3em;
}

.about-title {
    font-size: x-large;
    font-weight: bold;
    margin: 0;
}

.about-vsn {
    font-size: 0.9em;
    margin: 0;
}

.about-desc {
    margin-top: 5px;
    font-size: small;
}

.about-dep-name {
    margin: 0;
    text-align: left;
}

.about-dep-vsn {
    margin: 0;
    text-align: left;
}

.about-more {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.remote-apps {
    position: absolute;
    top: 10px;
    right: 15px;
}

/* For plotTable move it to its own and import later... */
.demo-container {
	box-sizing: border-box;
	width: 90%;
	height: 80%;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
	width: 100%;
	height: 100%;
}

.slick-group-title {
/*  font-weight: bold;*/
  color: black;
  font-size: 10px;
  text-align: left;
}

/*.slick-group-title[level='0'] {
  font-weight: bold;
  color: black;
  font-size: 10px;
}

.slick-group-title[level='1'] {
  font-weight: bold;
  color: black;
  font-size: 10px;
}

.slick-group-title[level='2'] {
  font-weight: bold;
  color: black;
  font-size: 10px;
}*/

.slick-group-count {
    color:grey;
}

#btn-disconnect.disabled {
    color: grey !important;
}

#btn-logout {
    cursor: pointer;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.error-msg {
    word-wrap: break-word;
    width: 175px;
    display: inline-block;
}
/*new icons for sort dialog*/

.fa-trash.fa-customSize,
.fa-sort-amount-asc.fa-customSize,
.fa-sort-amount-desc.fa-customSize,
.fa-arrows-v.fa-customSize {
    font-size: 1.6em;
    margin-top: 3px;
}
.fa-trash.fa-customSize {
    color: #DD1122;
}
.previousPage {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.slick-header-column.ui-state-default {
    border-right: 2px solid whitesmoke;
}

.ui-icon.ui-button-icon.ui-icon-closethick {
    margin-top: -6px;
}

#buttonList .ui-button.ui-state-active {
    color: white;
    background-color: #77777F;
    background-image: none;
}

#buttonList .ui-button span.ui-checkboxradio-icon {
    display: none;
}

.ui-dialog-titlebar-close.ui-corner-all.ui-button.ui-widget,
.ui-dialog-titlebar-restore.ui-corner-all.ui-state-default,
.ui-dialog-titlebar-minimize.ui-corner-all.ui-state-default,
.ui-dialog-titlebar-maximize.ui-corner-all.ui-state-default,
.ui-dialog-titlebar-toggle-graph.ui-corner-all.ui-state-default {
    background-image: none;
    background-color: transparent;
    border: 0px;
}
.ui-dialog .ui-dialog-titlebar-toggle-graph span {
    display: block;
    margin: 2px 0px 0px 0px;
}

.dropdown.widthList{
    width: 185px;
}

ul.dashboard.dropdown li:hover{
    background: transparent;
}

.heightButtons{
    height: 20px;
}
.ui-corner-flat {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

input.inputTextDefault,
input.inputTextToEdit,
input.inputText {
    width: 125px;
    padding: 2px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border-bottom-width: 0px;
}

input.inputTextDefault,
input.inputTextToEdit {
    width: 120px;
    background-color: #FFFFFF !important;
    background-image: none !important;    
}

.right {
    float: right;
}

button.heightButtons.right.ui-button.ui-widget.ui-state-default.ui-button-icon-only.ui-corner-flat.ui-corner-left {
    margin-right: 0px;
}
.inputSave {
    width: 120px;
    padding-right: 0px;
}

.removeBorder {
    border-top-width: 0px;
    border-bottom-width: 0px;
}
input.inputText.ui-button.ui-widget.ui-state-default {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 130px;
    border: 0px;
    text-align: left;
}

.colorIcon .fa-arrow-right,
.colorIcon .fa-arrow-down,
.colorIcon .fa-step-backward,
.colorIcon .fa-backward,
.colorIcon .fa-play,
.colorIcon .fa-forward,
.colorIcon .fa-step-forward,
.colorIcon .fa-refresh,
.colorIcon .fa-check,
.colorIcon .fa-times,
.colorIcon .fa-stop-circle {
    color:  #888888;
}

.colorIcon:hover .fa-arrow-right,
.colorIcon:hover .fa-arrow-down,
.colorIcon:hover .fa-step-backward,
.colorIcon:hover .fa-backward,
.colorIcon:hover .fa-play,
.colorIcon:hover .fa-forward,
.colorIcon:hover .fa-step-forward,
.colorIcon:hover .fa-refresh,
.colorIcon:hover .fa-check,
.colorIcon:hover .fa-times,
.colorIcon:hover .fa-stop-circle {
    color: #212121;
}

ul.dropdown.floatNone ul li {
    float: none;
}

/* Increasing handlers for resize dialogs */
.ui-dialog .ui-resizable-n {
	height: 6px;
}
.ui-dialog .ui-resizable-ne {
	width: 6px;
	height: 6px;
}
.ui-dialog .ui-resizable-e {
	width: 6px;
}
.ui-dialog .ui-resizable-se {
    width: 16px;
    height: 17px;
    background-position: -61px -220px;
}
.ui-dialog .ui-resizable-s {
	height: 6px;
}
.ui-dialog .ui-resizable-sw {
	width: 6px;
	height: 6px;
}
.ui-dialog .ui-resizable-w {
	width: 6px;
}
.ui-dialog .ui-resizable-nw {
	width: 12px;
	height: 12px;
}

.chk-export-csv {
    margin: 10px 10px 0 0;
}

/* dialog extend minimize container */
#dialog-extend-fixed-container {
    background-color: lightblue;
    border: 1px solid black;
}

/* d3 graphs */
.d3-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid lightblue;
    overflow: hidden
}

.context_menu .menu-icon {
    position: relative;
    left: -5px;
}

/* View save start button section */
#start-btn-selection-div {
    padding: 2px;
    margin-top: 15px;
}

.ui-widget-content .ui-state-highlight {
    border-color: #888888;
    background: #d0d0d0 url(../assets/jquery-ui-images/ui-bg_glass_75_d0d0d0_1x400.png) 50% 50% repeat-x;
}

.receiverErrors {
    color: red;
}

.ui-tabs li.sql-tab-highlight {
    font-weight: bold;
}

.conn-selection {
    margin-top: 20px;
}

.conn-selection ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
}

.conn-selection input {
    margin-right: 10px;
}
