table.params {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    font-family: 'Droid Sans Mono', sans-serif;
    font-weight: normal;
    background: transparent;
}

table.params tr:nth-child(odd) {
    background-color: rgba(220,220,220,0.5);
}

table.params td.fit-content {
    width:1%;
}

table.params input.param {
    width:100%
}

#tabs {
    position: absolute;
    overflow:hidden;
    top:0;
    left:0;
    right:0;
    bottom:21px;
}

#tabquery, #tabparams, #tabgraph {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border:none;
}

.flat-only-select {
    position: absolute;
    float: right;
    top: -24px;
    right: 10px;
}

.monaco-query-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ui-tabs .ui-tabs-nav li {
    margin: 0 0 0 0;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 0.25em 0.25em 0.25em 0.25em;
}

.ui-tabs .ui-tabs-nav { padding:0; }
.ui-tabs { padding:0; }
.ui-tabs .ui-tabs-panel { padding: 0 }

.ui-tabs-nav { background: none;} 
