.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #D77B7B;
    padding-top: 2px;
    padding-bottom: 2px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.banner, .banner>a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.banner-title {
    font-family: "Droid Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#brand_title {
    font-size: 20px;    
}