%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{release_description, "Web based tool for exploring databases"}.

%% Platform-specific installation paths
{platform_bin_dir,  "./bin"}.
{platform_data_dir, "./data"}.
{platform_etc_dir,  "./etc"}.
{platform_lib_dir,  "./lib"}.
{platform_log_dir,  "./log"}.

%%
%% etc/vm.args
%%
{node,              "dderl@0.0.0.0"}.
{crash_dump,        "{{platform_log_dir}}/erl_crash.dump"}.
{cookie,            "dderl_cookie"}.

%%
%% etc/sys.config
%%
{imem_node_type,        "ram"}.
{imem_cluster_mgrs,     "['dderl@0.0.0.0']"}.
{imem_schema_name,      "dderl"}.
{imem_listener_ip,      "0.0.0.0"}.
{imem_listener_port,    8125}.
{dderl_listener_ip,     "0.0.0.0"}.
{dderl_listener_port,   8442}.
{imem_snapshot_dir,     "./snapshot/"}.
{imem_node_shard_fun,   "\"fun(N) -> imem_meta:host_name(N) -- \\\"!?#*:+-\\<|>/\\\" end\""}.

% vm.args
{epmd_min, 7000}.
{epmd_max, 7020}.

{dderl_log_dir, "{{platform_log_dir}}"}.

%%
%% bin/dderl
%%
{runner_script_dir,  "$(cd ${0%/*} && pwd)"}.
{runner_base_dir,    "{{runner_script_dir}}/.."}.
{runner_ulimit_warn,  1024}.
{runner_user,         ""}.
{runner_wait_process, "dderl_sup"}.

%%
%% Distribution
%%
{proto_dist, imem_inet_tcp}.
