<div id="boxdiv" class="sql_text_box">
  <div class="boxParent" ng-repeat="child in children" ng-include="'box_renderer'"></div>
</div>

<script type="text/ng-template"  id="box_renderer">
  <div ng-show = "child.collapsed">
    <textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-dblclick="child.collapsed = false">{{getalltxt(child)}}</textarea>
  </div>
  <span class="boxName" ng-hide="child.collapsed" ng-dblclick="child.collapsed = true">{{child.name}}</span>
  <div class="boxChildren" ng-hide="child.collapsed" ng-if="child.children.length > 0" ng-dblclick="child.collapsed">
    <div class="boxParent" ng-repeat="child in child.children" ng-include="'box_renderer'"></div>
  </div>
</script>
