%%-*- mode: erlang -*-

{deps_dir, "../../deps"}.
{deps, [
    {jsx,       "",         {git, "git://github.com/talentdeficit/jsx.git", master}},
    {sqlparse,  "",         {git, "git@github.com:k2informatics/sqlparse.git", master}},
    {imem,      "",         {git, "git@github.com:k2informatics/imem.git", master}},
    {erlimem,   "",         {git, "git@github.com:k2informatics/erlimem.git", master}},
    {erloci,    "",         {git, "git@github.com:k2informatics/erloci.git", master}},
    {cowboy,    "0.8.3",    {git, "git://github.com/extend/cowboy.git", {tag, "0.8.3"}}},
    {mimetypes, "",		    {git, "git://github.com/spawngrid/mimetypes.git", "master"}}
]}. 
