%%-*- mode: erlang -*-

{deps_dir, "../../deps"}.
{deps, [
    {jsx,       "",         {git, "git://github.com/talentdeficit/jsx.git",     master}},
    {sqlparse,  "1.0.0",    {git, "git@github.com:k2informatics/sqlparse.git",  {tag, "sqlparse-1.0.0"}}},
    %{imem,      "1.0.0",    {git, "git@github.com:k2informatics/imem.git",      {tag, "imem-1.0.0"}}},
    {imem,      "",    {git, "git@github.com:k2informatics/imem.git",      master}},
    {erlimem,   "1.0.0",    {git, "git@github.com:k2informatics/erlimem.git",   {tag, "erlimem-1.0.0"}}},
    %{erloci,    "",         {git, "git@github.com:k2informatics/erloci.git",    master}},
    {cowboy,    "0.8.3",    {git, "git://github.com/extend/cowboy.git",         {tag, "0.8.3"}}},
    {mimetypes, "",		    {git, "git://github.com/spawngrid/mimetypes.git",   master}}
]}. 
