%%-*- mode: erlang -*-
{erl_opts, [{parse_transform, lager_transform}]}.
{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{ct_use_short_names, true}.
{deps_dir, "../../deps"}.
{deps, [
    {lager,     "2.0.*",    {git, "git://github.com/basho/lager.git",           master}},
    {jsx,       "",         {git, "git://github.com/talentdeficit/jsx.git",     master}},
    {sqlparse,  "1.0.0",    {git, "git@github.com:k2informatics/sqlparse.git",  {tag, "sqlparse-1.0.0"}}},
    {imem,      "1.1.1",    {git, "git@github.com:k2informatics/imem.git",      {tag, "imem-1.1.1"}}},
    {erlimem,   "1.0.2",    {git, "git@github.com:k2informatics/erlimem.git",   {tag, "erlimem-1.0.2"}}},
    %{erloci,    "",        {git, "git@github.com:k2informatics/erloci.git",    master}},
    {cowboy,    "0.8.6",    {git, "git://github.com/extend/cowboy.git",         {tag, "0.8.6"}}},
    {mimetypes, "",		    {git, "git://github.com/spawngrid/mimetypes.git",   master}}
]}. 
