{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "dderl", "0.1.0",
        [
         kernel,
         stdlib,
         sasl,
         {mnesia, load},
         {tv, load},
         imem,
         erlimem,
         ranch,
         mimetypes,
         cowboy,
         ssl,
         dderl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "dderl"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, xmerl, [{mod_cond, app}]},
       {app, dderl, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "dderl"}.

{overlay_vars, "vars/dev_vars.config"}.

{overlay, [
           {mkdir, "data/snapshot"},
           {mkdir, "log"},

            %% Copy base files for starting and interacting w/ node
           {copy, "../deps/node_package/priv/base/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "../deps/node_package/priv/base/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "../deps/node_package/priv/base/runner", "bin/dderl"},
           {template, "../deps/node_package/priv/base/env.sh", "lib/env.sh"},

           % generatign for windows
           {copy, "files/dderl.cmd", "bin/dderl.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {template, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {template, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},

           {template, "files/sys.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"}
          ]}.
