{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "dderl", "1.0.7",
        [kernel,
         stdlib,
         sasl,
         os_mon,
         crypto,
         sqlparse,
         wx,
         debugger,
         observer,
         {mnesia, load},
         lager,
         imem,
         erlimem,
         ranch,
         ssl,
         mimetypes,
         cowlib,
         cowboy,
         jsx,
         bullet,
         dderl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "dderl"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, xmerl, [{mod_cond, app}]},
       {app, compiler, [{mod_cond, all}]},
       {app, dderl, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "dderl"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "{{ imem_snapshot_dir }}"},
           {mkdir, "log"},
           {mkdir, "data/tmp"},

           %% Copy base files for starting and interacting w/ node
           {copy, "../deps/node_package/priv/base/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "../deps/node_package/priv/base/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "../deps/node_package/priv/base/runner", "bin/dderl"},
           {template, "../deps/node_package/priv/base/env.sh", "lib/env.sh"},

           % generating for windows
           {copy, "files/dderl.cmd", "bin/dderl.cmd"},
           {copy, "files/editconfs.escript", "bin/editconfs.escript"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {template, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {template, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/custaction.js", "bin/custaction.js"},
           {copy, "files/banner.jpg", "bin/banner.jpg"},
           {copy, "files/dderl.ico", "bin/dderl.ico"},

           {template, "files/sys.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},

           % imem control scripts
           {template, "../deps/imem/scripts/imem", "bin/imem"},
           {copy, "../deps/imem/scripts/imem.escript", "bin/imem.escript"}
          ]}.
