%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps", "../../"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "dderl", "1.3.3",
        [kernel,
         stdlib,
         sasl,
         os_mon,
         crypto,
         sqlparse,
         {mnesia, load},
         lager,
         imem,
         erlimem,
         ranch,
         ssl,
         mimetypes,
         cowlib,
         cowboy,
         jsx,
         bullet,
         dderl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "dderl"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, xmerl, [{mod_cond, app}]},
       {app, compiler, [{mod_cond, all}]},
       {app, dderl, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "dderl"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "{{ imem_snapshot_dir }}"},
           {mkdir, "log"},
           {mkdir, "data/tmp"},

           {copy, "../LICENSE", "LICENSE"},
           {copy, "../README.md", "README.md"},
           {copy, "../RELEASE-DDERL.md", "RELEASE-DDERL.md"},

           %% Copy base files for starting and interacting w/ node
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "files/dderl", "bin/dderl"},
           {template, "files/env.sh", "lib/env.sh"},

           % dderl control scripts
           {template, "files/env.sh", "lib/env.sh"},
           {copy, "files/init.script", "etc/init.script"},
           {template, "files/dderl", "bin/dderl"},

           % generating for windows
           {copy, "files/dderl.cmd", "bin/dderl.cmd"},
           {copy, "files/editconfs.escript", "bin/editconfs.escript"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {template, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {template, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           % imem control scripts
           {template, "../deps/imem/scripts/imem", "bin/imem"},
           {copy, "../deps/imem/scripts/imem.escript", "bin/imem.escript"}
          ]}.
