{node,              "dderl@WKS010.k2informatics.ch"}.
{cookie,            "zT43g2_6CxwrtP"}.

{imem_node_type,    "disc"}.
{imem_cluster_mgr,  "dderl@WKS010.k2informatics.ch"}.
{imem_schema_name, "dderl"}.
{imem_user, "admin"}.
{imem_password, "change_on_install"}.
{imem_db, "DDerl"}.
{imem_log_table, "dderlLog@"}.
{imem_listener_ip, "\"0.0.0.0\""}.
{imem_listener_port, 8125}.
{dderl_listener_ip, "\"0.0.0.0\""}.
{dderl_listener_port, 8124}.
{epmd_min, 7000}.
{epmd_max, 7020}.
