%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% Platform-specific installation paths
{platform_bin_dir,  "./bin"}.
{platform_data_dir, "./data"}.
{platform_etc_dir,  "./etc"}.
{platform_lib_dir,  "./lib"}.
{platform_log_dir,  "./log"}.

%%
%% etc/vm.args
%%
{node,              "dderl@localhost"}.
{crash_dump,        "{{platform_log_dir}}/erl_crash.dump"}.
{cookie,            "zdss4d2_6tP"}.

%%
%% etc/sys.config
%%
{imem_node_type,    "disc"}.
{imem_cluster_mgr,  "dderl@localhost"}.
{imem_schema_name, "dderl"}.
{imem_user, "admin"}.
{imem_password, "change_on_install"}.
{imem_log_table, "dderlLog@"}.
{imem_listener_ip, "\"0.0.0.0\""}.
{imem_listener_port, 8126}.
{dderl_listener_ip, "\"0.0.0.0\""}.
{dderl_listener_port, 8443}.
{epmd_min, 7000}.
{epmd_max, 7020}.

%%
%% bin/dderl
%%
{runner_script_dir,  "/usr/bin"}.
{runner_base_dir,    "/usr/lib/dderl"}.
{runner_etc_dir,     "/etc/dderl"}.
{runner_log_dir,     "/var/log/dderl"}.
{runner_lib_dir,     "/usr/lib/dderl/lib"}.
{runner_patch_dir,   "/usr/lib/dderl/lib/dderl-patches"}.
{pipe_dir,           "/tmp/ddelr"}.
{runner_user,        ""}.
{runner_wait_process, "dderl_conn_probe_sup"}.
