{node,              "dderl@ZHHAPMOP-SBSM01.it.bwns.ch"}.
{cookie,            "zT43g2_6CxwrtP"}.

{imem_node_type,    "ram"}.
{imem_cluster_mgr,  "dderl@OLTAPMOP-SBSM01.it.bwns.ch"}.
{imem_schema_name, "dderl"}.
{imem_log_table, "dderlLog@"}.
{imem_listener_ip, "\"0.0.0.0\""}.
{imem_listener_port, 8126}.
{dderl_listener_ip, "\"0.0.0.0\""}.
{dderl_listener_port, 8124}.
{epmd_min, 7000}.
{epmd_max, 7020}.
