%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
[
%% DDerl config
{dderl, [
    {interface, {{ dderl_listener_ip }} },
    {port, {{ dderl_listener_port }} }
]},

%% IMEM
{imem, [
    {mnesia_node_type, {{ imem_node_type }} },
    {mnesia_schema_name, '{{ imem_schema_name }}' },
    {erl_cluster_mgr, '{{ imem_cluster_mgr }}' },
    {tcp_ip, {{ imem_listener_ip }} },
    {tcp_port, {{ imem_listener_port }} }
]},

{sasl, [
    {sasl_error_logger, false}
]}

].
